.one{
	/*border: 3px solid black;*/
	padding: 5px;
	margin: 2px;
	min-width: 10px;
	min-height: 10px;
	max-width: 30px;
	max-height: 30px;
}
.green{
	background-color: green;
}
.no_color{
	background-color: red;
}
.main_div_color{
	background-color: #FFFFFF;
}